<p id="notice"><%= notice %></p>

<p>
  <b>Prenom:</b>
  <%= @client.prenom %>
</p>

<p>
  <b>Nom:</b>
  <%= @client.nom %>
</p>

<p>
  <b>Adresse:</b>
  <%= @client.adresse %>
</p>

<p>
  <b>Code postal:</b>
  <%= @client.code_postal %>
</p>

<p>
  <b>Ville:</b>
  <%= @client.ville %>
</p>

<p>
  <b>Mail:</b>
  <%= @client.mail %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
