<div class="terroir-form">

  

  <fieldset>
    <legend>Entrer les informations producteurs</legend>

    <%= form_for :producteur do |form| %>
      <p>
        <label for="producteur_name">Nom:</label>
        <%= form.text_field :nom, :size => 40 %>
      </p>

      <p>
        <label for="producteur_password">Mot de passe:</label>
        <%= form.password_field :password, :size => 40 %>
      </p>

      <p>
        <label for="producteur_password_confirmation">Confirmation:</label>
        <%= form.password_field :password_confirmation, :size => 40 %>
      </p>

      <%= submit_tag "Ajouter un utilisateur", :class => "submit" %>

    <% end %>
  </fieldset>
</div>