<!DOCTYPE html>
<html>
  <head>
    <title>Terroir</title>
    <%= stylesheet_link_tag   "application", "scaffolds", "terroir", :media => "all" %>
    <%= javascript_include_tag  "application", :media => "all"  %>
    <%= csrf_meta_tags %>
  </head>
  <body id="produits">
    <div id="banner">

      <%= image_tag("Logo_Vosges_Terroir_100.jpg", {:height => 50})%>

      <%= @page_title || "TERROIR VOSGES" %>
    </div>
    <div id="columns">
      <div id="side">

        <p>
          <%= link_to "Ajout produit",   :controller => 'produits', :action => 'new' %>
          <br/>
          <%= link_to "List producteurs",   :controller => 'producteurs', :action => 'index' %>
          <br/>
          <%= link_to "Ajout categories",   :controller => 'categories', :action => 'new' %>
        </p>
        <p>
          <%= link_to "Logout", :controller => 'login', :action => 'logout' %>
        </p>

        <p>
          <%= link_to "Retour catalogue", :controller => 'store', :action => 'index' %>
        </p>


      </div>
      <div id="main">
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end -%>

        <%= yield :layout %>
      </div>
    </div>
  </body>
</html>
